@model IEnumerable<ToDoTask>

@{
    ViewData["Title"] = "Index";
}


<section id="controls">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-10 text-light">
                @if(TempData["created"] != null){
                        <h4><i class="bi bi-check-lg text-success"></i>Task <b> @TempData["created"] </b> was created successfully.</h4>
                }
                else if (TempData["edited"] != null)
                {
                        <h4><i class="bi bi-check-lg text-success"></i>Task <b> @TempData["edited"] </b> was changed successfully.</h4>
                }
            </div>
            <a class="btn btn-success col-2 p-2" asp-area="" asp-controller="ToDoTask" asp-action="Create"><b>Create</b> <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</section>

<section id="tasks" class="my-3">
    <div class="container-lg">
        <div class="row justify-content-center">
            <table class="table table-bordered h5">
                <thead>
                  <tr>
                    <th scope="col" class="text-center col-2">Priority</th>
                    <th scope="col" class="text-center col-3">Name</th>
                    <th scope="col" class="text-center col-2">Status</th>
                    <th scope="col" class="text-center col-3">Deadline <i class="bi bi-calendar-week"></i></th>
                    <th scope="col" class="text-center col-2">Controls</th>
                  </tr>
                </thead>
                <tbody>
                    @foreach(var obj in Model)
                    {
                      <tr>
                            <td class="bg-danger text-center priorityContainer text-dark" >@obj.Priority</td>
                            <td class="bg-primary text-center">@obj.Name</td>
                            <td class="bg-primary text-center statusContainer text-danger">@obj.Status</td>
                            <td class="bg-primary text-center">@obj.Deadline</td>
                            <td class="bg-primary text-center">
                                <div class="d-flex justify-content-evenly" style="width: 60%; margin: 0 auto;">
                                    <a asp-area="" asp-controller="" asp-action=""><i class="bi bi-card-text"></i></a>
                                    <a class="" asp-area="" asp-controller="ToDoTask" asp-action="Edit" asp-route-id = "@obj.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a class="" asp-area="" asp-controller="ToDoTask" asp-action="Delete" asp-route-id = "@obj.Id"><i class="bi bi-x-circle text-danger"></i></a>
                                </div>
                            </td>
                      </tr>                        
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    // priority
    priorityContainers = document.getElementsByClassName("priorityContainer");
    //console.log(priorityContainers.length);
    for(i=0; i<priorityContainers.length; i++){
        //console.log(priorityContainers[i].innerHTML);
        switch (priorityContainers[i].innerHTML){
            case "FreeTime":
                priorityContainers[i].classList.replace("bg-danger", "bg-light");
                break;
            case "Low":
                priorityContainers[i].classList.replace("bg-danger", "bg-success");
                break;
            case "Medium":
                priorityContainers[i].classList.replace("bg-danger", "bg-warning");
                break;
        }
    }

    // status
    statusContainers = document.getElementsByClassName("statusContainer");
    //console.log(statusContainers.length);
    for(i=0; i<statusContainers.length; i++){
        //console.log(statusContainers[i].innerHTML);
        switch (statusContainers[i].innerHTML){
            case "100%":
                statusContainers[i].classList.replace("text-danger", "text-success");
                break;
            case "75%":
                statusContainers[i].classList.replace("text-danger", "text-warning");
                break;
        }
    }


</script>


